:root { 
    font-family: 'Courier New', Courier, monospace; 
}

html { 
    box-sizing: border-box; 
    background: linear-gradient(180deg, #101c27 0%, #111 100%);
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw; 
}

body {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    font-size: 18px;
    margin: 24px;
    color: white;   
}

h1 {
    font-size: 32px;
    margin-bottom: 24px; 
    text-align: center;
    text-decoration: underline;
    margin: 0;  
}

.main-wrapper {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    width: 80vw; 
    background: white; 
    color: black;
    padding: 24px 48px;
    box-sizing: border-box;
}

.card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    background: white; 
    color: black; 
    padding: 24px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 24px 0px; 
    width : 100%; 
    
}

button {
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: #2c7be5;
    color: white;
    font-weight: 500;
}

button:disabled {
    background: #444;
    cursor: not-allowed;
}

input[type="file"] {
    color: #eee;
}

.status {
    font-size: 18px;
    margin: 24px 0;
    font-weight: bold;
}

.controls {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    gap: 16px;
    background: rgb(146, 155, 136); 
}

.video-container {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    background: #000;
}

video {
    display: block;
    max-width: 100%;
}

.pose-canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.resize-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 2;
}
.resize-handle[data-corner="nw"] { 
    left: -2px; 
    top: -2px; 
    border-left: 4px solid #000000;
    border-top: 4px solid #000000; 
    border-radius: 4px; 
    cursor: nwse-resize; 
}
.resize-handle[data-corner="ne"] { 
    right: -2px; 
    top: -2px; 
    border-right: 4px solid #000000;
    border-top: 4px solid #000000; 
    border-radius: 4px;
    cursor: nesw-resize; 
}
.resize-handle[data-corner="sw"] { 
    left: -2px; 
    bottom: -2px; 
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000; 
    border-radius: 4px;
    cursor: nesw-resize; 
}
.resize-handle[data-corner="se"] { 
    right: -2px; 
    bottom: -2px; 
    border-right: 4px solid #000000;
    border-bottom: 4px solid #000000; 
    border-radius: 4px;
    cursor: nwse-resize; 
}

.crop-box {
    position: absolute;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    background: rgba(115, 247, 115, 0.1);
    z-index: 1;
    box-sizing: border-box;
    cursor: move;
}

.row { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    gap: 16px;
    
}

.column { 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
}

/* ORB Styles */

.param {
    justify-content: space-between; 
    margin-bottom: 8px; 
}

.param input {
    width: 50px; 
}

.params {
    max-width:30%;
    margin:16px 0px; 
    justify-content:flex-start;
}

.orb-canvas {
    max-width: 100%; 
    height: auto;
    max-height: 100%; 
    border-radius: 4px; 
    border: 1px solid #2d2d2d; 
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.mono { 
    font-family: ui-monospace, 
    SFMono-Regular, Menlo, monospace; 
    font-size: 12px; 
    white-space: pre-wrap; 
}

#canvasMatches {
    margin-top: 24px; 
}

