/* styles.css */

:root { 
    font-family: 'Courier New', Courier, monospace; 
}

html {
    background: linear-gradient(180deg, #272727 0%, #152335 100%);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;
}

body { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 24px; 
}

.title { 
    color: white; 
    font-size: 32px; 
    margin-bottom: 16px; 
    text-decoration: underline; 
}

.main { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 60vw;
    gap: 24px;  
}

.matches {
    max-width: 80vw; 
    margin: 24px 0;
}

.card { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%; 
    border: 1px solid #1a2231; 
    border-radius: 4px; 
    padding: 24px 48px 48px 48px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5); 
}

h1 {
    margin: 0 0 24px 0; 
    font-size: 24px; 
}

h2 { 
    align-self: center;
    margin: 0 0 24px 0; 
    font-size: 18px; 
}

button { 
    padding: 4px 12px; 
    border-radius: 6px; 
    border: 1px solid #787878; 
    background: dodgerblue; 
    color: white; 
    cursor: pointer; 
}

button:disabled { 
    background: #9ca3af; 
    cursor: not-allowed; 
}

.row { 
    display: flex; 
    gap: 8px; 
    align-items: center; 
    flex-wrap: wrap;
    margin-bottom: 20px;  
}

.param {
    justify-content: space-between; 
    margin-bottom: 8px; 
}

.param input {
    width: 50px; 
}

.params {
    max-width:30%;
    margin:16px 0px; 
    justify-content:flex-start;
}

.column {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    gap: 8px; 
    flex: 1; 
}

.muted { 
    color:rgb(81, 81, 81); 
    font-size: 16px; 
}

.instructions {
    font-size: 18px; 
    color: rgb(207, 255, 159); 
    margin-bottom: 24px; 
}

canvas, img, video { 
    max-width: 100%; 
    height: auto;
    max-height: 100%; 
    border-radius: 4px; 
    border: 1px solid #2d2d2d; 
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.mono { 
    font-family: ui-monospace, 
    SFMono-Regular, Menlo, monospace; 
    font-size: 12px; 
    white-space: pre-wrap; 
}

.resize-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 2;
}
.resize-handle[data-corner="nw"] { 
    left: -2px; 
    top: -2px; 
    border-left: 4px solid #000000;
    border-top: 4px solid #000000; 
    border-radius: 4px; 
    cursor: nwse-resize; 
}
.resize-handle[data-corner="ne"] { 
    right: -2px; 
    top: -2px; 
    border-right: 4px solid #000000;
    border-top: 4px solid #000000; 
    border-radius: 4px;
    cursor: nesw-resize; 
}
.resize-handle[data-corner="sw"] { 
    left: -2px; 
    bottom: -2px; 
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000; 
    border-radius: 4px;
    cursor: nesw-resize; 
}
.resize-handle[data-corner="se"] { 
    right: -2px; 
    bottom: -2px; 
    border-right: 4px solid #000000;
    border-bottom: 4px solid #000000; 
    border-radius: 4px;
    cursor: nwse-resize; 
}

.crop-box {
    position: absolute;
    border: 2px dashed rgba(0, 0, 0, 0.5);
    background: rgba(115, 247, 115, 0.1);
    z-index: 1;
    box-sizing: border-box;
    cursor: move;
}

.upload-wrapper {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    margin: -24px -48px 24px -48px;
    padding: 24px 48px;
    background: linear-gradient(360deg, rgb(146, 155, 136) 0%, rgb(201, 211, 187) 100%); 
    border-radius: 4px; 
}

.description {
    max-width: 60vw; 
    color: white; 
    font-size: 18px; 
    margin-bottom: 16px;
}
